.print DDL
.read ddl/initial.sql
.read ddl/001_prj_role.sql
.read ddl/003_prj_role_map.sql
.read ddl/004_audit_log_ref2.sql
.read ddl/005_your_roles.sql
.read ddl/006_skill_map.sql

.print DML
.read dml/cap_capability.sql
.read dml/cap_category_$lang.sql
.read dml/002_prj_role.sql
.read dml/007_skill_map_$lang.sql

